@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600;700&family=Bungee&display=swap');

@theme {
  --font-cartoon: "Fredoka", sans-serif;
  --font-display: "Bungee", cursive;
}

body {
  font-family: var(--font-cartoon);
  overflow: hidden;
}
